@{
    Layout = null;
    var emailInvalid = ViewBag?.EmailInvalid ?? "";
    var nameInvalid = ViewBag?.NameInvalid ?? "";
    var email = ViewBag?.Email ?? "";
    var name = ViewBag?.Name ?? "";
    var errors = ViewBag?.Errors as List<string> ?? new List<string>();
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignalRPoc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <style>
        .form-login {
            margin: 0px;
            padding: 0px;
            background-color: white !important;
            border: solid;
            border-color: white;
            border-radius: 30px;
            width: 80vw;
            height: 80vh;
        }

        .background-img {
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            object-fit: fill;
            display: block;
            width: 100%;
            height: 100vh;
        }

        .fit-center {
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .img-top {
            width: 212px;
        }

        .full-height {
            height: 100% !important;
        }

        .box-info-container {
            display: contents;
            width: 100%;
            justify-content: center;
        }

        .box-info {
            display: table-cell;
            vertical-align: middle;
        }

        .box-info-content {
            justify-content: center;
            display: grid;
            color: slategray;
        }

            .box-info-content p {
                padding: 0px;
                margin: 0px;
            }

        .ht-100 {
            height: 100%;
        }

        .ht-10 {
            height: 10%;
        }

        .ht-90 {
            height: 90%;
            display: table;
        }

        .btn-secondary {
            background-color: rgb(63, 89, 157);
            box-shadow: black 2px 2px 10px 0px;
        }

        h4.info {
            text-align: center;
        }

        .container-img {
            justify-content: center;
            display: flex;
        }
    </style>
</head>
<body>
    <img class="background-img" src="~/images/background.png" />
    <div class="container high">
        <div class="justify-content-center high">
            <div class="fit-center">
                <div class="form-login high">
                    <div class="row justify-content-center full-height">
                        <div class="col-12">
                            <div class="row ht-100">
                                <div class="col-12 ht-10">
                                    <div class="container-img">
                                        <img class="img-top" src="~/images/logo horizontal.png" />
                                    </div>
                                </div>
                                <div class="col-12 ht-90">
                                    <div class="box-info-container">
                                        <div class="box-info">
                                            <div class="box-info-content">
                                                <p>
                                                    <h4>Olá</h4>
                                                </p>
                                                <p>
                                                    <h4>Seja bem vindo à POC signalR. </h4>
                                                </p>
                                                <p>
                                                    <h4>Baseado no post <a target="_blank" href="https://www.treinaweb.com.br/blog/aplicacoes-em-tempo-real-com-asp-net-core-signalr">Treinaweb</a>. código fonte está disponível aqui <a target="_blank" href="https://github.com/SignalR/SignalR/">Git Hub</a></h4>
                                                </p>
                                                <br />
                                                <p>
                                                    <h4>Este é um chat</h4>
                                                </p>
                                                <p>
                                                    <h4>Em tempo real.</h4>
                                                </p>
                                                <br />
                                                <p>
                                                    <h4>Faça login com google</h4>
                                                </p>
                                                <p>
                                                    <h4>para acessar.</h4>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
